.header {
  display: flex;
  justify-content: right;
  color: var(--blue);
  gap: var(--spacing-base);
  padding: var(--spacing-base);

  & .header__logo {
    font-size: var(--title-max);
    font-family: var(--font-serif-light);
    line-height: 0.8;
    text-transform: lowercase;
  }
  & .header__text {
    margin-top: var(--spacing-base);
    font-family: var(--font-sans);
    font-size: var(--font-base);
  }
}
