.header {
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--blue);
  margin-top: 1rem;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    margin-top: 0;
  }

  & .header__logo {
    font-size: var(--font-title-mobile);
    font-family: var(--font-serif-light);
    line-height: 0.8;
    text-transform: lowercase;

    @media screen and (min-width: 768px) {
      font-size: var(--font-title-min);
      padding: var(--spacing-base);
    }

    @media screen and (min-width: 1200px) {
      font-size: var(--font-title-max);
    }
  }

  & .header__text {
    text-align: right;
    font-family: var(--font-sans);
    font-size: var(--font-base);
    max-width: 150px;

    @media screen and (min-width: 768px) {
      margin-top: var(--spacing-lg);
      max-width: none;
      text-align: left;
    }
  }
}
