.info-card {
  font-family: var(--font-sans);
  color: var(--foreground-color);

  .info-card__title {
    font-size: var(--list);
    font-weight: 400;
    padding-bottom: var(--spacing-sm);
    border-bottom: 2px solid var(--foreground-color);
  }

  .info-card__text {
    margin-top: var(--spacing-base);
    font-size: var(--text);
  }
}
  