.testimonials-wrapper {
  position: relative;
  z-index: 10000;
  overflow-x: hidden;
  width: 100%;
  grid-column: 2;

  @media screen and (min-width: 1200px) {
    display: grid;
    align-items: center;
    height: 80vh;
    padding-left: 30rem;
  }
}

.testimonials {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-xl);
  margin-top: var(--spacing-section);
  position: relative;
  width: max-content;

  .testimonial {
    display: flex;
    max-width: 300px;
    width: 100%;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    gap: var(--spacing-xl);
    height: 100%;

    .testimonial__author {
      font-size: var(--font-subtitle);
      font-weight: bold;
    }
  }
}
