.testimonials-wrapper{
  overflow-x: hidden;
  width: 100%;
  grid-column: span 2;
}
.testimonials {
  display: flex;
  gap: var(--spacing-xl);
  margin-top: var(--spacing-section);
  position: relative;
  min-width: 100vw;

  .testimonial {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    gap: var(--spacing-xl);
    height: 100%;

    .testimonial__author {
      font-size: var(--font-subtitle);
      font-weight: bold;
      color: var(--accent-color);
    }
  }
}
