.testimonials-wrapper {
  position: relative;
  z-index: 10000;
  overflow-x: hidden;
  width: 100%;
  z-index: 3;
  grid-column: 2;
  padding-left: 0.5rem;
  --gradient-color: var(--white-cream);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-image: linear-gradient(
      to right,
      var(--gradient-color),
      transparent 20px
    );
    pointer-events: none;
    background-repeat: no-repeat;
    z-index: 3;

    @media screen and (min-width: 1200px) {
     width: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: grid;
    align-items: center;
    height: 80vh;
    padding-left: 30rem;
  }
}

.testimonials {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-xl);
  margin-top: var(--spacing-section);
  position: relative;
  width: max-content;

  .testimonial {
    display: flex;
    max-width: 250px;
    width: 100%;
    font-size: var(--font-subtitle);
    flex-direction: column;
    justify-content: top;
    align-items: start;
    gap: var(--spacing-xl);
    height: 100%;

    .testimonial__text {
      position: relative;

      &::before {
        content: open-quote;
        position: absolute;
        top: 0rem;
        left: -0.5rem;
      }

      &::after {
        content: close-quote;
        position: absolute;
      }
    }

    .testimonial__author {
      font-size: var(--font-subtitle);
      font-weight: bold;
    }
  }
}
