.title {
  display: flex;
  justify-content: end;
  font-size: var(--font-title-min);
  font-family: var(--font-serif), serif;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: normal;
  line-height: 1;
  color: var(--blue);
  height: 240px;

  @media screen and (min-width: 768px) {
    font-size: var(--font-title-mobile);
    max-width: 200px;
  }

  @media screen and (min-width: 768px) {
    font-size: var(--font-title-max);
  }

  @media screen and (min-width: 900px) {
    font-size: var(--font-display-min);
  }

  @media screen and (min-width: 1200px) {
    font-size: var(--font-display-max);
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  .title-section__text {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--font-title-mobile);
    font-family: var(--font-serif-light);
    font-weight: 400;
    line-height: 1;
    transform: translateY(100%) rotate(5deg);
    clip-path: inset(0 0 100% 0);

    @media screen and (min-width: 768px) {
      font-size: var(--font-title-min);
    }

    @media screen and (min-width: 1200px) {
      padding-inline: var(--spacing-xl);
      font-size: var(--font-title-max);
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      font-family: var(--font-serif-light-italic);
    }
  }
  .title-section__text--no-spacing {
    padding-inline: 0 !important;
  }
}

.title-section--no-spacing {
  padding-inline: 0 !important;
}
