.mouse-container {
  position: fixed;
  z-index: 1001;
  pointer-events: none;

  & .mouse-container__ball {
    position: fixed;
    opacity: 0.9;
    left: calc((var(--spacing-lg) / 2) * -1);
    top: calc((var(--spacing-lg) / 2) * -1);
    width: var(--spacing-lg);
    aspect-ratio: 1;
    background-color: var(--blue);

    border-radius: 99%;

    @media screen and (pointer: coarse) {
      display: none;
    }
  }
  & .mouse-container__image {
    position: fixed;
    left: calc((300px / 2) * -1);
    top: calc((500px / 2) * -1);
    width: 300px;
    height: 500px;
    z-index: 9999;
    background-size: cover;
    scale: 0;

    @media screen and (pointer: coarse) {
      display: none;
    }
  }
}
