@import url("./abstracts/_variables.css");
@import url("./base/_reset.css");
@import url("./base/_fonts.css");
@import url("./base/_typography.css");
@import url("./components/mouse.css");
@import url("./layouts/_loader-overlay.css");
@import url("./components/_title.css");
@import url("./components/_header.css");
@import url("./layouts/_hero.css");
@import url("./components/_info-card.css");
@import url("./layouts/_testimonials-container.css");

body {
  text-transform: uppercase;
}
main {
  padding-inline: 2rem;
}

.content{
  height: 100%;
}
