@import url("./abstracts/_variables.css");
@import url("./base/_reset.css");
@import url("./base/_fonts.css");
@import url("./base/_typography.css");
@import url("./components/mouse.css");
@import url("./layouts/_loader-overlay.css");
@import url("./components/_title.css");
@import url("./components/_header.css");
@import url("./layouts/_hero.css");
@import url("./components/_info-card.css");
@import url("./layouts/_grid-container.css");
@import url("./components/_testimonials.css");
@import url("./layouts/_section.css");
@import url("./components/_team.css");
@import url("./layouts/_contact.css");
@import url("./components/_link.css");

body {
  text-transform: uppercase;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.container {
  padding: 1rem;
  max-width: 1500px;
  margin-inline: auto;

  @media screen and (min-width: 1200px) {
    padding: 4rem;
  }
}

.content {
  padding-inline: 1rem;
  padding-block: 0;

  @media screen and (min-width: 1200px) {
    padding-inline: 1rem;
  }
}
