.hero-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--spacing-base);
  min-height: 100vh;
  height: 100%;

  @media screen and (min-width: 1200px) {
    gap: var(--spacing-xl);
    grid-template-columns: 1fr 4fr;
  }
}

.hero {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
