.hero-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--spacing-sm);
  min-height: 100vh;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 200px 4fr;
  }
}

.hero {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
