.hero-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--spacing-xl);
  min-height: 100vh;
  height: 100%;
}

.hero {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
