.testimonials-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: var(--spacing-xl);
  margin-top: 10rem;
  width: 100%;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-card {
    margin-top: var(--spacing-xl);
  }
}
