@font-face {
  font-family: "Akzidenz-Grotesk BQ";
  src: url("/assets/fonts/AkzidenzGroteskBQ.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/assets/fonts/Canela-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela Light";
  src: url("/assets/fonts/Canela-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela Light Italic";
  src: url("/assets/fonts/Canela-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela Regular";
  src: url("/assets/fonts/Canela-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
